.block-header {
    position: relative;
    z-index: 20;
    width: 100%;
    height: 50px;
    background-color: @main-color;

    h1 {
        display: inline-block;
        font-size: 23px;
        margin: 0;
        line-height: 50px;
        padding-left: 55px;
        color: #ffffff;
    }
    .description {
        display: inline-block;
        height: 100%;
        float: right;
        padding-right: 55px;
        padding-top: 12px;
        span{
            display: block;
            font-size: 10px;
            color: #ffffff;
        }
    }
}