.block-search-results {
  position: relative;

  width: 1180px;
  margin-left: auto;
  margin-right: auto;

  .search-results-head {
    padding: 15px 0;
    h1 {
      font-size: 23px;
      line-height: 30px;
      margin: 0;
    }
  }

  .result-count {
    font-size: 14px;
    height: 20px;
    width: 100%;
  }

  .search-results-items {
    width: 820px;
    font-size: 14px;

  }
}